<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <!-- Filter the balance sheet   -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h3>Filtered by:{{listFilter}} </h3>
      </div>
    </div>
    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="table-responsive">
      <table class='table' *ngIf="comptebalances && comptebalances.length">
        <thead>
          <tr>
            <th>id</th>
            <th>reference Code</th>
            <th>tableauPoste</th>
            <th>oExercComptaId</th>
            <th>Total Price</th>
            <th>Total Price</th>
            <th>View Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comptebalance of comptebalances|comptebalancesFilter:listFilter">
            <td>{{comptebalance.id}}</td>
            <td>{{comptebalance.referenceCode}}</td>
            <td>{{comptebalance.tableauPoste}}</td>
            <td>{{comptebalance.oExercComptaId}}</td>
            <td>{{comptebalance.totalSoldedebit()}}</td>
            <td>{{comptebalance.totalSoldedebit()}}</td>
            <td>
              <button class="btn btn-link" (click)="viewDetails(order)">View Details</button>
            </td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/nstbalanceinputs',balance.id, 'edit']">
                Edit
              </a>
            </td>
            <td>
          </td>

          </tr>
        </tbody>
      </table>
      <br />

    </div>
  </div>
